*{
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: rgb(221 221 221);
}

.background{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.box{
  margin: 100px auto;
  width: 480px;
  border-radius: 30px;
  box-shadow: 0 0 10px  rgb(170 170 170);
  overflow: hidden;
}

header{
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 5px solid rgb(221 221 221);
  gap: 20px;
  padding: 20px 0;
}
header .shape{
  width: 13px;
  height: 35px;
  background-color: rgb(255 20 147);
  border-radius: 0 5px 5px 0;
}
header h2{
  color: rgb(255 20 147);
}

section{
  width: 100%;
  background-color: rgb(239 239 239);
  padding: 20px 0 40px 0;
}
section .btn{
  opacity: 0;
}
section label{
  display: block;
  width: 80%;
  background-color: #fff;
  border: 4px solid rgb(170 170 170);
  border-radius: 8px;
  padding: 10px;
  margin: -5px auto;
}
section label:hover{
  color: rgb(30 145 255);
  transform:
  translateX(0);  width:85%; border:4px solid rgb(30 145 255);
}

.hr-sect {
  width: 500px;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  margin: -80px auto 8px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}